.solar-system{
display: flex;
flex-direction: row;
justify-content: space-around;
}
/* nomadic adventures */
.container1{
display: flex;
justify-content: center;
align-items: center;
height: 300px;
width: 300px;
background-color: black;
border-radius: 50%;
}
.planet-nomadic{
height: 250px;
width: 250px;
border-radius: 50%;
background: radial-gradient(#e66465, #9198e5);}

/* CINEMAfiles */
.container2{
display: flex;
justify-content: center;
align-items: center;
height: 300px;
width: 300px;
background-color: black;
border-radius: 50%;
}
.planet-CINEMA{
height: 250px;
width: 250px;
border-radius: 50%;
background-image: linear-gradient(to bottom right, red, yellow);
}