.projects-container{
display: flex;
flex-direction: column;
/* justify-content: space-around; */
align-items: center;
background-image: url("https://stepik.org/media/attachments/lesson/452681/space.png");
}
.projects-title{
margin: 1em 1em 0rem 1em;
color: white;
}
.solar-system{
height: 480px;
width: 800px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-evenly;
}
/* nomadic adventures */
.container1{
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
height: 350px;
width: 300px;
background-color: black;
/* border-radius: 50%; */
}
.planet-nomadic{
height: 250px;
width: 250px;
border-radius: 50%;
background: radial-gradient(#e66465, #9198e5);}
.planet-name1{
height: 50px;
width: 200px;
background-color: #9741ffed;
border: solid 2px hsla(267, 100%, 63%, 0.929);
border-radius: 30px;
background-color: hsla(267, 100%, 63%, 0.3);
}
/* CINEMAfiles */
.container2{
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
height: 350px;
width: 300px;
background-color: black;
/* border-radius: 50%; */
}
.planet-CINEMA{
height: 250px;
width: 250px;
border-radius: 50%;
background-image: linear-gradient(to bottom right, red, yellow);
}
.planet-name2{
height: 50px;
width: 200px;
background-color: #9741ffed;
border: solid 2px hsla(267, 100%, 63%, 0.929);
border-radius: 30px;
background-color: hsla(267, 100%, 63%, 0.3);
}