
.about-me-page{
background-image: url("https://stepik.org/media/attachments/lesson/452681/space.png");

/* background-color: #191919; */
/* background-image: linear-gradient(#333333, #191919); */
/* background-image: linear-gradient(#191919, #333333); */
display: flex;
flex-direction: column;
height: 535px;
/* align-items:center */
}
.about-title-container{
display: flex;
justify-content: center;
align-items: center;
height: 70px;
width: 250px;
border: solid 2px hsla(267, 100%, 63%, 0.929);
border-radius: 30px;
background-color: hsla(267, 100%, 63%, 0.3);
margin: 1em 2em;
}
.about-title{
color: white;
}
.about-me-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.about-me{
height: 250px;
width: 600px;
background-color: black;
border: solid 2px hsla(267, 100%, 63%, 0.929);
border-radius: 30px;
background-color: hsla(267, 100%, 63%, 0.3);
margin: 1em 2em;
z-index: 1;
position: relative;
}
.moon-container{
display: flex;
justify-content: center;
align-items: center;
}
.moon{
background-color: rgb(243, 228, 198);
height: 300px;
width: 600px;
z-index: 0;
position: absolute;
/* border-radius: 150px 150px 0 0; */
border-radius: 850px 850px 0 0;

}