
.about-me-page{
background-image: url("https://stepik.org/media/attachments/lesson/452681/space.png");

/* background-color: #191919; */
/* background-image: linear-gradient(#333333, #191919); */
/* background-image: linear-gradient(#191919, #333333); */
display: flex;
flex-direction: column;
height: 535px;
/* align-items:center */
}
.about-title-container{
display: flex;
justify-content: center;
align-items: center;
height: 70px;
width: 250px;
border: solid 2px hsla(267, 100%, 63%, 0.929);
border-radius: 30px;
background-color: hsla(267, 100%, 63%, 0.3);
margin: 1em 2em;
}
.about-title{
color: white;
}
.about-me-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.about-me{
height: 250px;
width: 600px;
background-color: black;
border: solid 2px hsla(267, 100%, 63%, 0.929);
border-radius: 30px;
background-color: hsla(267, 100%, 63%, 0.3);
margin: 1em 2em;
z-index: 1;
position: relative;
}
.moon-container{
display: flex;
justify-content: center;
align-items: center;
}
.moon{
background-color: rgb(243, 228, 198);
height: 300px;
width: 600px;
z-index: 0;
position: absolute;
/* border-radius: 150px 150px 0 0; */
border-radius: 850px 850px 0 0;
display: flex;
justify-content: center;
}
.hole4{
height: 50px;
width: 50px;
border-radius: 50%;
background-color: hsl(0, 0%, 45%);
align-self: center;
}
.hole2{
height: 50px;
width: 50px;
border-radius: 50%;
background-color: hsl(0, 0%, 45%, 0.7);
align-self: flex-end;
}
.hole3{
height: 75px;
width: 75px;
border-radius: 50%;
background-color: hsl(0, 1%, 64%, 0.9);
align-self:baseline;
}
.hole1{
height: 75px;
width: 75px;
border-radius: 50%;
background-color: hsl(0, 1%, 64%, 0.9);
align-self:center;
}
.hole5{
height: 50px;
width: 100px;
border-radius: 50px 50px 0 0;
background-color: hsl(0, 1%, 64%, 0.7);
align-self:flex;
}
.hole6{
height: 50px;
width: 50px;
border-radius: 50%;
background-color: hsl(0, 0%, 45%, 0.5);
align-self:baseline;
}