.custom-toggler.navbar-toggler {
  color: white;
}
#custom-navbar{
justify-content: center;
}
#toggle:active {
  border: none;
}
.navigation{
background-image: linear-gradient(rgb(36, 36, 36), black);
/* background-color: black; */
}
.button {
  border-radius: 9999px;
  background-color: transparent;
  /* border: solid 2px hsla(0, 0%, 100%, 0.636); */
  /* box-shadow: inset 0 0 10px hsla(0, 0%, 57%, 0.636); */
  margin-right: 1rem!important;
}
li:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  display: block;
  transition: all 0.4s ease;
  bottom: 20%;
}
li:hover::after {
  width: 80%;
  height: 1px;
  background-color: #fff;
}
#about{
color: white;
}
#projects{
color: white;
}
#resume{
color: white;
}
#contact{
color: white;
}

@media only screen and (max-width: 991px) {
.mobile{
  display:flex;
  flex-direction: row;
}
}