@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
.logo{
  font-family: 'Orbitron', sans-serif;
}
.custom-toggler.navbar-toggler {
  color: white;
}
.custom-navbar{
/* height: 65px; */
}
#toggle:active {
  border: none;
}
.navigation{
background-image: linear-gradient(rgb(36, 36, 36), black);
/* background-color: black; */
}
.button {
  border-radius: 9999px;
  background-color: transparent;
  border: solid 2px hsla(267, 100%, 63%, 0.636);  
  margin-right: 1rem!important;
}
#about{
color: white;
}
#projects{
color: white;
}
#resume{
color: white;
}
#contact{
color: white;
}

@media only screen and (max-width: 991px) {
.mobile{
  display:flex;
  flex-direction: row;
}
}